.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #CCE9E7;
  border-radius: 50%;
  width: attr(data-width px);
  height: attr(data-width px);
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-moz-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-o-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-khtml-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-ms-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}