.wrapper {
  display: grid;
  place-content: center;
  padding: 12px 14px;
  border-radius: 50px;
  border: 0;
  font-weight: 700;
  font-size: 18px;
  font-family: var(--bruno-font);
  cursor: pointer;
  user-select: none;
  transition: 0.2s linear;

  &:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

.filled {
  background: var(--main-color);
  color: black;
}

.outline {
  background: black;
  color: var(--main-color);;
}
