$red: #FF5733;
$green: #5FBA7D;
$red-shadow: rgba(255, 87, 51, 0.4);
$green-shadow: rgba(95, 186, 125, 0.4);


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.wrapper_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
  padding: 2rem;
  height: 600px;
  overflow: auto;
  border-radius: var(--border-radius);
  border: 2px solid var(--main-color);
  background: rgba(255, 255, 255, 0.2);

  &::-webkit-scrollbar {
    width: 0;
  }
}

.label {
  align-self: flex-start;
  font-size: 24px;
  color: var(--main-color);
  font-weight: 700;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: var(--main-color);
  padding: 1rem;
  width: 100%;
  border-radius: var(--border-radius);
  border: 2px solid var(--main-color);
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: appear 0.5s forwards;
  gap: 1rem;

  span {
    align-self: flex-end;
    width: fit-content;
    padding: 6px 1rem;
    border-radius: var(--border-radius);
  }

}

.win {
  box-shadow: 0 4px 30px $green-shadow;

  span {
    background-color: $green;
  }

}

.lose {
  box-shadow: 0 4px 30px $red-shadow;

  span {
    background-color: $red;
  }
}


@keyframes appear {
  to {opacity: 1}
}