.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;

  p {
    color: var(--main-color);
    font-size: 18px;
  }

  .divider {
    width: 100%;
    height: 2px;
    background: var(--main-color);
    border-radius: 12px;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}